<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerControl.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PowerControl.Settings>
            <setting name="MenuUpKey" serializeAs="String">
                <value>Ctrl+Win+Numpad8</value>
            </setting>
            <setting name="MenuDownKey" serializeAs="String">
                <value>Ctrl+Win+Numpad2</value>
            </setting>
            <setting name="MenuLeftKey" serializeAs="String">
                <value>Ctrl+Win+Numpad4</value>
            </setting>
            <setting name="MenuRightKey" serializeAs="String">
                <value>Ctrl+Win+Numpad6</value>
            </setting>
            <setting name="EnableNeptuneController" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableVolumeControls" serializeAs="String">
                <value>True</value>
            </setting>
        </PowerControl.Settings>
    </applicationSettings>
</configuration>